@import './colors.scss';

.recipe-container {
    width: 80%;
    margin: auto;
}


.recipe-card {
    display: inline-block;
    width: 49%;
    vertical-align: top;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    
    &--hover {
        background-color: $color-paleblue;
        border: 1px solid $color-lightgrey;
        border-collapse: collapse;
        overflow: hidden;
    }

    .recipe-details, .recipe-image {
        display: inline-block;
        width: 40%;
        vertical-align: top;
        padding: 20px;
    }

    .recipe-image {
        img {
            width: 100%;
        }
    }

    .recipe-details {
        ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
        }

        li {
            display: inline-block;
        }

        .title {
            padding-top: 0;
        }

        .food-labels {
            padding-bottom: 15px;
        }
    }
}
